
.container {
  width: 90vw;
  height: 100vh;
  margin: auto;
  background-image: url("https://d1uy1wopdv0whp.cloudfront.net/sticky_images/britannia/britannia-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.app_logo {

  position: absolute;
  width: auto;
  height: 30%;
  left: 44.5%;
  top: 5%;
}